* {
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    background-color: #212121;
    color: whitesmoke;
}

body > *:not(h1, h2) {
    margin-top: 20px;
}

article > a {
    margin-top: 30px;
    color: rgb(132, 0, 255);
}

.card {
    max-width: fit-content;
    width: 200px;
    height: 400px;
    background-color: rgb(68, 20, 86);
    border-radius: 10px;
    padding: 30px;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 10px 5px 5px #212121;
}

p {
    margin-top: 99px;
}

h2{
    text-decoration:underline 1px white;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(79, 0, 107);
    color: aliceblue;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: -25px;
    margin-left: -15px;
    border-radius: 20px;
 }

 footer > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
 }

 footer > a:hover {
    background-color: rgb(178, 125, 227);
    transition: 0.3s;
 }

a:not(footer > a) {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    max-width: fit-content;
    background-color: rgb(81, 0, 156);
    color: rgb(255, 255, 255);
}

a:hover {
    background-color: rgb(178, 125, 227); 
}